form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

button {
    grid-area: 2 / 1 / 3 / 4;    
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

button:active {
    background-color: rgba(53, 182, 81, 0.815);
}

tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    border-radius: 5px;
    background-color: rgba(200, 221, 240, 0.712);
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
}

.display {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.newBook {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
}

.displayBook {
    border: 1px solid red;
    padding: 15px;
}