.addBook {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inputBox {
    padding: 10px;
}

button {
    margin: 10px;
    min-width: 200px;
    height: 50px;
    border-radius: 15px;
}

button:active {
    background-color: rgba(53, 182, 81, 0.815);
}
tr {
    border: 1px solid red;
    padding: 10px;
}

.display {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

.newBook {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
}

.displayBook {
    border: 1px solid red;
    padding: 15px;
}